<header>
    <div class="flex-container">
        <div><img src="/img/logo.png" class="logo" alt=""></div>
        <div><a href="/atleta/home/{{id}}"><input type="button" class="botao_sair" value="Sair"></a>
        </div>
    </div>
</header>
<main>
    <div class="form-partida">
        <form>
            <select name="esportes" id="esportes" required>
                <option value="" disabled selected>Esporte</option>
                <option value="Futebol">Futebol</option>
                <option value="Basquete">Basquete</option>
                <option value="Volêi">Volêi</option>
                <option value="Futevolêi">Futevolêi</option>
                <option value="Tênis">Tênis</option>
            </select>
            <p class="texto_horario">Digite a data de realização da partida:</p>
            <input type="date" name="data" id="data" required>
            <input type="number" name="participantes" id="participantes" placeholder="Digite a quantidade de jogadores"
                required>
            <p class="texto_horario">Digite o horário de ínicio:</p><input type="time" name="horario_realizacao"
                id="horario_realizacao" required>
            <p class="texto_horario">Digite o horário de término:</p><input type="time" name="horario_fim"
                id="horario_fim" required>
            <div class="div_btn">
                <button type="submit" class="btn btn-primary btn-partida" id="btn"><a href="#" class="a_btn"
                        id="redirect">Escolher
                        Time</a></button>
            </div>
        </form>
    </div>
</main>
<footer class="rodape">
    <div class="container">
        <div class="row teste">
            <div class="col">
                <div>
                    <p class="estilo_letra">&copy Todos os direitos resevados</p>
                </div>
            </div>
            <div class="col">
                <div class="container rodape2">
                    <div class="col">
                        <a href="" class="estilo_letra remover_decoracao">Serviços</a>
                    </div>
                    <div class="col">
                        <a href="" class="estilo_letra remover_decoracao">Sobre nós</a>
                    </div>
                    <div class="col">
                        <a href="" class="estilo_letra remover_decoracao">Contato</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<script>
    var btn = document.getElementById('btn');
    btn.addEventListener("click", function () {
        var select = document.getElementById('esportes');
        var esporte = select.options[select.selectedIndex].value;
        var minimoParticipantes = document.getElementById('participantes').value;
        var data = document.getElementById('data').value;
        var horarioI = document.getElementById('horario_realizacao').value;
        var horarioF = document.getElementById('horario_fim').value;
        if (esporte == "Futebol") {
            esporte = 1;
        } else if (esporte == "Volêi") {
            esporte = 2;
        } else if (esporte == "Basquete") {
            esporte = 3;
        } else if (esporte == "Futevôlei") {
            esporte = 4;
        }
        else {
            esporte = 5;
        }
        if (minimoParticipantes.length == 0 || data.length == 0 || horarioI.length == 0 || horarioF.length == 0) {
            alert("Preencha os campos corretamente")
        }
        else {
            document.getElementById("redirect").setAttribute("href", `/partida/criar/time/${esporte}/${horarioI}/${horarioF}/${data}/${minimoParticipantes}/{{id}}`);
        }
    });
</script>
<script>document.title = "Criação de Partidas"</script>