/*definiçoes gerais dos links*/
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    color: rgb(255, 0, 170) !important;
}

a:active {
    text-decoration: none
}
/*********************************/


/* Cabeçalho*/
.logo {

    height: 80px;
    width: 188,74px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao_sair {
    height: 40px;
    width: 120px;
    border-radius: 16px;
    margin-right: 50px;

    background: #FFFFFF;
    border: 2px solid #CB0059;
    box-sizing: border-box;
    border-radius: 16px;
    color: #CB0059;

    font-size: larger;
}
/*********************************/

/* Rodape */
.rodape {
    background-color: #CB0059;
    display: flex;
    bottom: 0;
    left: 0;
    height: 50 px;
    position: fixed;
    width: 100%;
}

.rodape2 {
    display: flex;
    justify-content: space-between;
    flex-shrink: 50;
}

.estilo_letra {
    color: white;
}

.teste{
    display: flex;
    justify-content: space-around;
    border: #CB0059;
    padding-top: 10px;
    
}

@media screen and (max-width: 770px){
    .rodape {
        background-color: #CB0059;
        display: block;
        bottom: 0;
        left: 0;
        height: 50 px;
        position: fixed;
        width: 100%;
        border-top: solid;
    }
    .rodape2 {
        display: block;
        justify-content: space-between;
        flex-shrink: 50;
    }
   
}


/*********************************/
