<header>
    <div class="flex-container">
        <div><img src="../../img/logo.png" class="logo" alt=""></div>
        <div><a href="../frontend/Tela_inicial/index.html"><input type="button" class="botao_sair" value="Sair"></a>
        </div>
    </div>
</header>

<h1>Cadastro de Time</h1>

<div class="container">

    <form id="form-Atleta" action="/time/timeCadastrado/{{id}}" method="post">

        <div class="form-group row">

            <div class="col-sm-1">
                <label for="inputId">Id</label>
                <input type="text" class="form-control" id="inputId" placeholder="ID" disabled>
            </div>

            <div class="col-sm-5">
                <label for="inputNome">Nome do Time (*)</label>
                <input type="text" name="nome" class="form-control" id="inputNome" required
                    placeholder="Informe o Nome do Time">
            </div>

            <div class="col-sm-3 ">
                <label for="inputEsporte">Esporte: (*) </label>
                <select name="esporte" id="sexo" class="form-control">

                    <option value="1">Futebol</option>
                    <option value="2">Vôlei</option>
                    <option value="3">Basquete</option>
                    <option value="4">Futevôlei</option>
                    <option value="5">Tenis</option>
                </select>
            </div>


            <div class="col-sm-2">
                <label for="inputEmail">Número de Vagas (*)</label>
                <input type="number" name="nrVagas" class="form-control" id="inputEmail" required
                    placeholder="Número de Vagas">
            </div>

            <div class="col-sm-4 ">
                <small>(*) Campos obrigatórios</small>
            </div>


        </div>

        <div id="msg" class="col-sm-10 offset-sm-1 ">
            <!--<div class="alert alert-warning">ERROR</div>-->
        </div>

        <div class="row">
            <div class="col-sm-12 " id="buttons">
                <a href="#"><input type="submit" class="botao_sair" value="Criar Time"></a>
            </div>
        </div>

</div>
</div>


<footer class="rodape">

    <div class="container">
        <div class="row teste">

            <div class="col">
                <div>
                    <p class="estilo_letra">&copy Todos os direitos resevados</p>
                </div>
            </div>

            <div class="col">

                <div class="container rodape2">



                    <div class="col">
                        <a href="#" class="estilo_letra remover_decoracao">Serviços</a>
                    </div>
                    <div class="col">
                        <a href="#" class="estilo_letra remover_decoracao">Sobre nós</a>
                    </div>
                    <div class="col">
                        <a href="#" class="estilo_letra remover_decoracao">Contato</a>
                    </div>



                </div>
            </div>

        </div>
    </div>
</footer>