<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arena</title>
    <link rel="stylesheet" href="/css/escolherQuadra.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/lobby.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/criarPartida.css">
</head>

<body>
    {{{body}}}
    <script src="/js/bootstrap.js"></script>
</body>

</html>